{% extends 'studentmanager/index.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {% for i in "123" %}
        <div class="col-md-4">
                <div class="card" >
                  <img class="card-img-top" src="{% static 'studentmanager/img/placeholder.png'  %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}