{% extends 'studentmanager/index.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Prüfung "{{ object.exam_id }} - {{ object.title }}" endgültig löschen?</h1>
        <p>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Löschen</button>
            <a href="{% url 'studentmanager:exam' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Abbrechen</a>
        </div>
        </p>
    </form>
{% endblock %}